@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
.styleHeader {
    text-align: center;
	font-family:  Calibri;
	
}
.styleHippocrat {
	font-family:  'Century Gothic';
    font-size: 16px;
	
}
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
            <h1 class="styleHeader">Свислочская центральная районная больница</h1>
    </div>
    <div class="panel-body styleHippocrat">
        <b>Медицина поистине есть самое благородное из всех искусств.</b>
                <p><i>Гиппократ</i></p>
    </div>
</div>

        <div>   
            <div class="fotorama" >
                <img src="~/Images/2_1.jpg">
                <img src="~/Images/3_1.jpg">
                <img src="~/Images/4_1.jpg">
                <img src="~/Images/5_1.jpg">
                <img src="~/Images/6_1.jpg">
            </div>
        </div>
        <div class="well">
            <h3 class="styleHeader">«Свислочская центральная районная больница» приветствует Вас!</h3>
            <blockquote>
                <p>Добро пожаловать!</p>
                    <p>Вот уже без малого 70 лет наша больница оказывает квалифицированную медицинскую помощь своим пациентам, 
                    являясь многопрофильным больнично-поликлиническим комплексом. Обеспечение качества и доступности 
                    медицинской помощи - одна из приоритетных задач, решаемых руководством и персоналом больницы. Мы 
                    стараемся создать все необходимые условия для удовлетворения потребностей жителей города и района 
                    в качественном медицинском обслуживании на всех его этапах. Больница оснащена современным медицинским 
                    оборудованием. Персонал аттестован на квалификационные категории и оказывает все виды медицинской
                     помощи своим пациентам.      </p>
                   <p> Мы желаем Вам здоровья и всегда готовы помочь его сохранить!      </p>
                   <p> С уважением главный врач Свислочской  центральной районной больницы Турко Илья Николаевич и весь коллектив учреждения. </p>   
                </p>           
            </blockquote>
        </div>