@{
    ViewBag.Title = "Services";
}

<h2 style="text-align:center">Платные услуг для граждан РБ</h2>

<center><div style="width:600px;">

     <table>
        <tr >
            <td width="33%">
                <div class="thumbnail" style="height:270px;">
                     <h3><center>Массаж</center></h3>
                    <img src="~/Images/massage.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/Massage" class="btn btn-custom" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
            <td width="33%">
                <div class="thumbnail" style="height:270px;">
                     <h3><center>Исследования</center></h3>
                    <img src="~/Images/research.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/Research" class="btn btn-custom" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>

            </td>
            <td width="33%">
                <div class="thumbnail" style="height:270px;">
                     <h3><center>Консультации специалистов</center></h3>
                    <img src="~/Images/consultation.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/Consultation" class="btn btn-custom" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            
            <td>
                <div class="thumbnail" style="height:360px;">
                     <h3><center>Профосмотры</center></h3>
                    <img src="~/Images/proph.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/ProphView" class="btn btn-custom" role="button" >Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
            <td>
                
                <div class="thumbnail" style="height:360px;">
                     <h3><center>Нетрадиционное лечение</center></h3>
                    <br /><br />
                    <img src="~/Images/fitoterapy.jpg"  alt="...">
                    <br />
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/Fito" class="btn btn-custom" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
                    
            </td>
            <td>
                <div class="thumbnail" style="height:360px;">
                     <h3><center>Иммунизация</center></h3>
                    <br /><br /><br />
                    <img src="~/Images/vakcina.jpg"  alt="...">
                    <br />
                    <div class="caption">
                        <p><center>
                            <a href="~/Service/Immunization" class="btn btn-custom" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
        </tr>


    </table>
</div></center>


