@{
    ViewBag.Title = "TicketRequest";
}

<h2>Запрос на талон к специалисту</h2>

<div class="col-md-8 col-md-offset-2">
    <form role="form" action="~/Home/TicketRequestResult" method="post">
        <div class="form-group">
            <label for="phone">Номер телефона</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введите контактный телефон" required>
        </div>
        <div class="form-group">
            <label for="fio">ФИО</label>
            <input type="text" class="form-control" id="fio" name="fio" placeholder="ФИО" required>
        </div> 
        <div class="form-group">
            <label for="date">Выберите дату</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">            
            <label for="time">А также желаемое время</label>
            <input type="time" class="form-control" id="time" name="time" required>
        </div>
        <div class="from-group">
            <label for="doctor">Выберите врача</label>
            <input type="text" class="form-control" id="doctor" name="doctor" placeholder="Специалист" required>            
        </div>
        
        <div class="alert alert-warning">
            <p>Для уточнения времени вам перезвонит наш оператор. Здесь вы указываете желаемое время.</p>
        </div>

        <input type="submit" class="btn btn-default" value="Отправить">
    </form>
</div>
