@{
    ViewBag.Title = "Consultation";
}

<h2 class="styleHeader">Консультации специалистов</h2>
<style type="text/css">
.styleHeader {
    text-align: center;
	font-family:  Calibri;
	font-size: xx-large;
	color: #460579;
}
.styleStrings {
	font-family:  Calibri;
	font-size: 18px;
}
.styleFirst {
    
	font-family:  Calibri;
	font-size: 18px;
	color: #008246;
}
.styleFirst success {
    
    text-align: center;
	font-family:  Constantia;
	font-size: 20px;
	color: #028e0e;
    background-color: #faf78c;
}
.styleSecondMain {
    text-align: center;
	font-family:  Calibri;
	font-size: 18px;
}
</style>

<table class="table ">

    <tr class="styleFirst">
        <td ><strong>
            Наименование услуги
        </strong></td>
        <td width="30%"><strong>
            Единица измерения
        </strong></td>
        <td ><strong>
            Стоимость услуги
        </strong></td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">Консультации врачей-специалистов,в том числе 
        сотрудников кафедр, имеющих ученую степень, научное звание
    </td></tr>
    <tr class="styleSecondMain"><td colspan="3"><strong>Врач-специалист 2-ой квалификационной категории</strong></td></tr>
    <tr  class="styleStrings">
        <td>
            Терапевтического профиля
        </td>
        <td>
            Консультация
        </td>
        <td>
            33950
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Хирургического профиля
        </td>
        
        <td>
            Консультация
        </td>
        <td>
            33500
        </td>
    </tr>
    <tr class="styleSecondMain"><td colspan="3"><strong>Врач-специалист 1-ой квалификационной категории</strong></td></tr>
    <tr  class="styleStrings">
        <td>
            Терапевтического профиля
        </td>
        
        <td>
            Консультация
        </td>
        <td>
            34650
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Хирургического профиля
        </td>
        
        <td>
            Консультация
        </td>
        <td>
            34200
        </td>
    </tr>
    <tr class="styleSecondMain"><td colspan="3"><strong>высшей квалификационной категории</strong></td></tr>
    <tr  class="styleStrings">
        <td>
            Терапевтического профиля
        </td>
        
        <td>
            Консультация
        </td>
        <td>
            35350
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Хирургического профиля
        </td>
        
        <td>
            Консультация
        </td>
        <td>
            34950
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">
        Манипуляции и исследования для диагностики и лечения урологических заболеваний
    </td></tr>
    <tr  class="styleStrings">
        <td>
            Массаж предстательной железы, получение секрета
        </td>
        <td>
            Манипуляция
        </td>
        <td>
            19500
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Лечебный массаж предстательной железы
        </td>
        <td>
            Манипуляция
        </td>
        <td>
            19500
        </td>
    </tr>
    <tr><td colspan="3">
        Урологические операции
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Круговое иссечение крайней плоти
        </td>
        <td>
            Операция
        </td>
        <td>
            169950
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">
        Прием врача-акушера-гинеколога
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Первичный прием врача-акушера-гинеколога
        </td>
        <td>
            Прием
        </td>
        <td>
            51150
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Повторный прием врача-акушера-гинеколога
        </td>
        <td>
            Прием
        </td>
        <td>
            36150
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">
        Гинекологические манипуляции и процедуры
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Забор мазка на исследование
        </td>
        <td>
            Манипуляция
        </td>
        <td>
            9900
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Кольпоцитология
        </td>
        <td>
            Манипуляция
        </td>
        <td>
            9000
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Кольпоскопия простая
        </td>
        <td>
            Исследование
        </td>
        <td>
            37600
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Кольпоскопия расширенная с цитологией, биопсией шейки матки соскобом 
            из цервикального канала
        </td>
        <td>
            Исследование
        </td>
        <td>
            86800
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Кольпоскопия расширенная с цитологией и биопсией шейки матки
        </td>
        <td>
            Исследование
        </td>
        <td>
           63900
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Кольпоскопия расширенная с цитологией
        </td>
        <td>
            Исследование
        </td>
        <td>
            42950
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3"> Гинекологические операции</td></tr>
    <tr  class="styleStrings">
        <td>
            Введение внутриматочного средства контрацепции
        </td>
        <td>
            Операция
        </td>
        <td>
            37000
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Удаление внутриматочного средства контрацепции
        </td>
        <td>
            Операция
        </td>
        <td>
            32350
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Вакуум-мини-аборт с обезболиванием
        </td>
        <td>
            Операция
        </td>
        <td>
            72850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Медицинский аборт с обследованием и обезболиванием
        </td>
        <td>
            Операция
        </td>
        <td>
            147900
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">
        Оказание наркологической помощи анонимно
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Лечение синдрома отмены алкоголя (медикаментозное)
        </td>
        <td>
            Койко-день
        </td>
        <td>
            342600
        </td>
    </tr>
    <tr class="styleFirst success"><td colspan="3">Применение методик эмоционально-стрессовой психотерапии, 
        имплантации лекарственных препаратов у наркологических больных
        </td></tr>
    <tr  class="styleStrings">
        <td>
            Имплантация препарата "Эспераль"
        </td>
        <td>
            Манипуляция
        </td>
        <td>
            76550
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Эмоционально-стрессовая терапия по методу А.Р.Довженко
        </td>
        <td>
            Сеанс
        </td>
        <td>
            134400
        </td>
    </tr>
</table>