@{
    ViewBag.Title = "Immunization";
}

<h2 class="styleHeader">Иммунизация</h2>
<style type="text/css">
.styleHeader {
    text-align: center;
	font-family:  Calibri;
	font-size: xx-large;
	color: #460579;
}
.styleStrings {
	font-family:  Calibri;
	font-size: 18px;
}
.styleFirst {
    
	font-family:  Calibri;
	font-size: 18px;
	color: #008246;
}

</style>

<table class="table table-hover">

    <tr class="styleFirst success">
        <td ><strong>
            Вакцина против:
        </strong></td>
        <td ><strong>
            Стоимость услуги
        </strong></td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Грипп
        </td>
        <td>
            40250
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Клещевой энцефалит
        </td>
        <td>
            74850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Корь
        </td>
        <td >
            34100
        </td>
    </tr>

</table>
