@{
    ViewBag.Title = "Massage";
}

<h2 class="styleHeader">Массаж</h2>
<style type="text/css">
.styleHeader {
    text-align: center;
	font-family:  Calibri;
	font-size: xx-large;
	color: #460579;
}
.styleStrings {
	font-family:  Calibri;
	font-size: 18px;
}
.styleFirst {
    
	font-family:  Calibri;
	font-size: 18px;
	color: #008246;
}

</style>

<table class="table table-hover">

    <tr class="styleFirst success">
        <td ><strong>
            Выполнение массажных процедур механическим воздействием рук
        </strong></td>
        <td width="20%"><strong>
            Стоимость услуги
        </strong></td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Массаж головы (лобно-височной затылочно-теменной области)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж лица (лобной, окологлазничной, верхне- и нижнечелюстной области)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Массаж шеи
        </td>
        <td >
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж воротниковой зоны (задней поверхности шеи, 
            спина до 4-го грудного позвонка,
            передней поверхности грудной клетки до 2-го ребра)
        </td>
        <td>
            14800
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Массаж верхней конечности
        </td>
        <td>
            14800
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Массаж верхней конечности, надплечья и области лопатки
        </td>
        <td >
            18150
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Массаж плечевого сустава ( верхней трети плеча,
            области плечевого сустава и надплечья одноименной стороны)
        </td>
        <td >
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж локтевого сустава (верхней трети предплечья, 
            области локтевого сустава и нижней трети плеча)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж лучезапястного сустава (проксимального отдела 
            кисти, области лучезапястного сустава и предплечья)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж кисти и предплечья
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж области грудной клетки (области передней поверхности 
            грудной клетки от передних границ надплечья до реберных 
            дуг и области спины от 7-го до 1-го поясничного позвонка)
        </td>
        <td>
            21500
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж спины (от 7-го шейного до 1-го поясничого позвонкаи от 
            левой до правой средней аксиллярной линии, у детей - 
            включая пояснично-крестцовую область)
        </td>
        <td>
            14800
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж пояснично-крестцовой области (от 1-го поясничного 
            позвонка до нижних ягодичных складок)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Сегментарный массаж пояснично-крестцовой области
        </td>
        <td>
            14800
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж спины и поясницы (от 7-го позвонка до крестца 
            и от левой до правой средней аксиллярной линии)
        </td>
        <td>
            18150
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж шейно-грудного отдела позвоночника (области задней 
            поверхности шеи и области спины до первого поясничного позвонка 
            и от левой до правой задней и аксиллярной линии)
        </td>
        <td>
            18150
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Сегментарный массаж шейно-грудного отдела позвоночника
        </td>
        <td>
            24800
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж области позвоночника (области задней поверхности 
            шеи, спины и пояснично-крестцовой области от левой 
            до правой задней аксиллярной линии)
        </td>
        <td>
            21500
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж нижней конечности
        </td>
        <td>
            14800
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж нижней конечности и поясницы (области стопы, голени, 
            бедра, ягодичной и пояснично-крестцовой области)
        </td>
        <td>
            18150
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж тазобедренного сустава (верхней трети бедра, 
            области тазобедренного сустава и ягодичной 
            одноименной стороны)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж коленного сустава (верхней трети голени, 
            области коленного сустава и нижней трети бедра)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж коленного сустава (верхней трети голени, области 
            коленного сустава и нижней трети бедра)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж голеностопного сустава (проксимального отдела 
            стопы, области голеностопного сустава и нижней трети голени)
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Массаж стопы и голени
        </td>
        <td>
            11450
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Общий массаж (у детей грудного и младшего дошкольного возраста)
        </td>
        <td>
            24800
        </td>
    </tr>
</table>


<table class="table table-hover">

    <tr class="styleFirst">
        <td ><strong>
            Вакуумный массаж
        </strong></td>
        <td ><strong>
            Стоимость услуги
        </strong></td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Шея
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Воротниковая зона
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Плечевой сустав
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Межлопаточная область
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Верхняя конечность
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Область грудной клетки
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Спина
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Область позвоночника
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Грудной отдел позвоночника
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Пояснично-крестцовая область
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Спина и поясница
        </td>
        <td>
            15200
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Тазобедренный сустав
        </td>
        <td>
            11850
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Нижняя конечность
        </td>
        <td>
            15200
        </td>
    </tr>
</table>