@{
    ViewBag.Title = "ProphView";
}

<h2 class="styleHeader">Профосмотр</h2>
<style type="text/css">
.styleHeader {
    text-align: center;
	font-family:  Calibri;
	font-size: xx-large;
	color: #460579;
}
.styleStrings {
	font-family:  Calibri;
	font-size: 18px;
}
.styleFirst {
    
	font-family:  Calibri;
	font-size: 18px;
	color: #008246;
}

</style>

<table class="table table-hover">

    <tr class="styleFirst success">
        <td ><strong>
            Вакцина против:
        </strong></td>
        <td><strong>
            Единица измерения
        </strong></td>
        <td ><strong>
            Стоимость услуги
        </strong></td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Получение справки для поступления
        </td>
        <td>
            Осмотр
        </td>
        <td>
            96850
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Обязательный контингент м/осмотр
        </td>
        <td>
            Осмотр
        </td>
        <td>
            62900
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Обязательный контингент при устройстве на работу
        </td>
        <td>
            Осмотр
        </td>
        <td >
            80050
        </td>
    </tr>
    <tr class="styleStrings">
        <td>
            Водительская комиссия (мужчины)
        </td>
        <td>
            Осмотр
        </td>
        <td>
            86200
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Водительская комиссия (женщины)
        </td>
        <td>
            Осмотр
        </td>
        <td>
            98700
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            Освидетельствование водителей на допуск к работе
        </td>
        <td>
            Освидетельствование
        </td>
        <td >
            5000
        </td>
    </tr>
    <tr  class="styleStrings">
        <td>
            <p>Освидетельствование на установление факта
            употребления алкоголя,наркотических и
            токсических средств и состояния опьянения</p>
        </td>
        <td width="30%">
            Освидетельствование
        </td>
        <td >
            92000
        </td>
    </tr>
</table>
